.main{
    background-color: rgb(31, 32, 32);
    width: 100vw;
    height: 50vh
}
.lines{
    
    width: 150px;
    height: 100px;
    left: 40%;
    top: 30%;
    position: relative;
    cursor: pointer;  
    -webkit-transition: all  ease-in-out;
      -moz-transition: all ease-in-out;
      -o-transition: all  ease-in-out;
      -ms-transition: all  ease-in-out;
      transition: all  ease-in-out;  
}
.lines:hover > .line_one{
    opacity: 0;
}
.line_one{
    position: absolute;
    width: 100px;
    height: 7px;
    background: linear-gradient(270deg, white, white 15%, black 15%, black 30%, white 30%);
    margin-top: 0;
    margin-left: 0;
}
.line_two{
    position: absolute;
    width: 100px;
    height: 7px;
    background: linear-gradient(90deg, white, white 15%, black 15%, black 30%, white 30%);
    margin-left: 0;
    margin-top: 35px;
    transform: rotate(0deg);
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    animation-play-state: running; 
}
.lines:hover > .line_two {
    transform: rotate(-40deg);
        -webkit-transform: rotateZ(-40deg);
        -ms-transform: rotateZ(-40deg);
        box-shadow: 7px -2px 12px 2px rgb(176 120 174);
        background: linear-gradient(90deg, rgb(223, 219, 219), rgb(218, 215, 215) 15%, black 15%, black 30%, rgb(215, 151, 193) 30%);
}
.line_three{
    position: absolute;
    width: 100px;
    height: 7px;
    background: linear-gradient(270deg, white, white 15%, black 15%, black 30%, white 30%);
    margin-left: 0;
    top: 65px;
    transform: rotate(0deg);
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    animation-play-state: running; 
}
.lines:hover > .line_three {
    top: 36px;
    transform: rotate(40deg);
    -webkit-transform: rotateZ(40deg);
    -ms-transform: rotateZ(40deg);
    box-shadow: -7px -2px 12px 2px rgb(117, 201, 133);
    background: linear-gradient(269deg, rgb(223, 219, 219), rgb(218, 215, 215) 15%, black 15%, black 30%, rgb(156, 214, 120) 30%);
}
.main2{
    display: flex;
    position: absolute;
    width: 600px;
    height: 300px;
    background-color: #EAE7DA;
    top: 400px;
    left: 31%;
}
.circles{
    display: flex;
    position: absolute;
    left: 26.67%;
    top: 43.5%;
    cursor: pointer;
}
.circle{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 65px 13px -10px rgb(158 158 158);
}
.circle-1 {
    left: 0px;
    top: 0;
    background: linear-gradient(to right, #3C4D63, #2A4F6A);
    animation-name: circle1;
    animation-direction: alternate-reverse;
    animation-duration: 0.45s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes circle1 {
0% {
    left: 0px;
    top: 0;
}
60% {
    left: 0px;
    top: 0;
}
80% {
    left: -90px;
}
100% {
    left: -90px;
    top: -60px;
}}
.circle-2 {
    background: linear-gradient(to right, #324B68, #3E4962);
}
.circle-3 {
    background: linear-gradient(to right, #43485D, #5C434F);
}
.circle-4 {
    background: linear-gradient(to right, #6E4149, #853D3E);
}
.circle-5 {
    background: linear-gradient(to right, #933B39, #AD3830);
}
.circle-6 {
    background: linear-gradient(to right, #BC3728, #CD3322);
}
.circle-7 {
    background: linear-gradient(to right, #D53325, #D53725);
    animation-name: circle7;
    animation-direction: alternate-reverse;
    animation-duration: 0.45s;
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}
@keyframes circle7 {
    0% {
        left: 0px;
        top: 0;  
    }
    50% {
        left: 0px;
        top: 0;  
    }
    80% {
        left: 90px;
            
    }

    100% {
        left: 90px;
        top: -60px;
    } 
    
}
.circles:hover > .circle {
    animation-play-state: paused;
    cursor: pointer;
}

